/*Estilo de fuente*/
@font-face {
  font-family: "Adam Light";
  src: url("../Media/Adam/Adam-Light.ttf"); }

@font-face {
  font-family: "Adam Bold";
  src: url("../Media/Adam/Adam-Bold.ttf"); }

/*Estilo del sitio */
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  font-family: "Adam Light";
  color: #404041;
  font-size: 62.5%; }

/*Estilo de Header*/
header {
  background-color: #d6d5ca;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%; }
  header img {
    align-content: center;
    width: 70%;
    margin-top: 0%;
    margin-left: 40%;
    margin-bottom: 0%; }
    header img:hover {
      width: 75%; }
  header nav {
    width: 40%; }
    header nav ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 5%; }
      header nav ul a {
        color: #404041;
        text-decoration: none; }
        header nav ul a:hover {
          color: #5e5e5f;
          font-family: "Adam Bold"; }

/*Estilo de Main*/
main {
  height: 100%;
  background-color: #efeae4;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center; }
  main h1 {
    font-size: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 0%;
    padding-bottom: 0%; }
  main h2 {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  main h3 {
    font-size: 3rem; }
  main p {
    font-size: 2.75rem; }

/*Estilo de Footer*/
footer {
  margin-top: auto;
  background-color: #C9A88A; }
  footer p {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2%; }
  footer .footerContacto {
    width: 30%;
    padding-top: 2%; }
    footer .footerContacto h4 {
      font-size: 2.5rem;
      padding-top: 2%;
      padding-left: 2%;
      text-align: center; }
  footer .ulFooter {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 100%; }
    footer .ulFooter img {
      width: 25%; }
    footer .ulFooter li {
      width: 25%;
      text-align: center; }
      footer .ulFooter li:hover {
        width: 30%; }

.imagenFooter {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center; }

/*Estilo de Boton*/
.boton {
  background-color: #404041;
  font-family: "Adam Bold";
  font-size: 2rem;
  border: #404041;
  padding: 2% 4%;
  color: whitesmoke;
  margin: 2%;
  border-radius: 15%;
  box-shadow: #323233; }
  .boton:hover {
    background-color: #5e5e5f; }

/*Estilo de Index*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main .autor {
    margin: 0%;
    padding: 0%; }
  main p {
    text-align: center;
    width: 90%;
    margin-bottom: 3%; }
  main img {
    max-height: 100%;
    max-width: 100%;
    padding-top: 0%;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 2%; }

.valores {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 70% 30%;
  grid-template-areas: "imgsustentabilidad imgarmnia imgcalma" "sustentabilidad armonia calma";
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  align-content: center; }
  .valores img {
    width: 100%;
    height: 100%; }

.imgSustentabilidad {
  grid-area: imgsustentabilidad; }

.imgArmonia {
  grid-area: imgarmonia; }

.imgCalma {
  grid-area: imgcalma; }

.Sustentabilidad {
  grid-area: sustentabilidad; }

.Armonia {
  grid-area: armonia; }

.Calma {
  grid-area: calma; }

/*Estilo de Nosotros*/
main {
  padding: 2%; }
  main p {
    text-align: justify;
    padding-bottom: 5%; }
  main ul {
    padding: 2%;
    font-size: 3rem;
    list-style-type: none;
    background-color: #e6d7c5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    main ul li {
      text-align: justify;
      padding: 2%; }
      main ul li:hover {
        font-family: "Adam Bold"; }

/*Estilo de Producto*/
.velas, .bombondifusor {
  margin: 3%;
  text-align: center;
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 10% 10% 30% 10%;
  justify-content: center; }
  .velas .vidrio img, .bombondifusor .vidrio img {
    width: 40%; }
  .velas .ceramica img, .bombondifusor .ceramica img {
    width: 38%; }
  .velas h2, .bombondifusor h2 {
    margin: 3%;
    font-size: 3rem; }
  .velas p, .bombondifusor p {
    margin: 4%;
    list-style-type: none;
    font-size: 2.5rem;
    text-align: justify;
    padding: 0%; }
  .velas ul, .bombondifusor ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 4%;
    list-style-type: none;
    font-size: 2.5rem;
    text-align: justify; }

.bombondifusor .bombon img {
  width: 40.5%; }

.bombondifusor .difusor img {
  width: 38%; }

.botoncontacto {
  background-color: #404041;
  font-family: "Adam Bold";
  font-size: 2rem;
  border: #404041;
  padding: 3% 5%;
  color: whitesmoke;
  margin: 2%;
  border-radius: 15%;
  box-shadow: #323233; }
  .botoncontacto:hover {
    background-color: #5e5e5f; }

/*Estilo de Aromas*/
.aromas {
  padding-top: 3%; }

.coco {
  padding-left: 3%;
  text-align: justify;
  width: 90%;
  padding-top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .coco img {
    width: 150%; }
  .coco .cocotexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .coco:hover {
    background-color: #e6d7c5;
    font-family: "Adam Bold"; }

.lavanda, .jazmin, .azahar, .lima {
  padding-left: 3%;
  text-align: justify;
  width: 90%;
  padding-top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .lavanda img, .jazmin img, .azahar img, .lima img {
    width: 25%; }
  .lavanda .lavandatexto, .jazmin .lavandatexto, .azahar .lavandatexto, .lima .lavandatexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .lavanda:hover, .jazmin:hover, .azahar:hover, .lima:hover {
    background-color: #e6d7c5;
    font-family: "Adam Bold"; }

/*Estilo de Contacto*/
main {
  padding: 3%; }
  main form {
    width: 90%;
    background-color: #e6d7c5;
    margin-top: 3%;
    margin-bottom: 3%; }
  main .formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 0%;
    background-color: #e6d7c5; }
  main .formulariodatos, main .formulariopedido {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    margin: 3%;
    font-size: 3rem;
    border-radius: 2%;
    border-width: thin;
    font-family: "Adam Light";
    width: 40%; }
  main label {
    font-family: "Adam Light";
    font-size: 3rem; }
  main input, main select {
    font-family: "Adam Bold";
    font-size: 2.5rem; }
  main .botonformulario {
    text-align: end;
    margin-bottom: 3%;
    margin-right: 3%; }

/*Estilo de Gracias*/
main {
  padding: 0%;
  /*Falta ocultar imagen mobile de web y web de mobile*/ }
  main h2 {
    margin: 5%;
    font-size: 5rem; }
  main p {
    padding-right: 5%;
    padding-left: 5%;
    font-size: 3.5rem;
    margin: 1%; }
  main img {
    width: 100%;
    margin-top: 2%; }
