//Estilo de Aromas
/*Estilo de Aromas*/

.aromas {
    padding-top: 3%;
    text-align: justify;
}

.coco {
    @include flex (row, justify, center);
    padding-left: 3%;
    width: 90%;
    padding-top: 0%;
    margin-bottom: 2%;
    img {
        width: 150%
    }
    .cocotexto {
        @include flex (column, center, center);
        p {text-align: justify;
        }
    }
    &:hover {
        background-color: $ColorNosotras;
        font-family: $TipografiaNegrita;
    }
}
.lavanda {
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
    width: 90%;
    padding-top: 0%;
    margin-bottom: 2%;
    @include flex (row, center, center);
    .lavandaweb {
        width: 25%
    }
    .lavandatexto {
        @include flex (column, center, center);
        p {
            text-align: justify;
        }
    }
    &:hover {
        background-color: $ColorNosotras;
        font-family: $TipografiaNegrita;
    }
}
.jazmin, .azahar, .lima {
    @extend .lavanda;
}
.jazmintexto, .azahartexto, .limatexto {
    @extend .lavandatexto;
}
.jazmin  {
    img {
        width: 20%
    }
}
.azahar  {
    img {
        width: 25%
    }
}
.lima {
    img {
        width: 30%
    }
}