// Estilo Fuentes
/*Estilo de fuente*/
@font-face {
    font-family: "Adam Light";
    src: url("../Media/Adam/Adam-Light.ttf");
 }
 
 @font-face{
     font-family: "Adam Bold";
     src: url("../Media/Adam/Adam-Bold.ttf");
 }
 
 // Estilo General del Sitio
/*Estilo del sitio */

* { 
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-family: $Tipografia;
    color: $Gris;
    font-size: 62.5%;
} 

// Estilo del header    
/*Estilo de Header*/
header {
    background-color: $ColorHeader;
    font-size: 2rem;
    @include flex (row, space-between, center);
    position: sticky;
    width: 100%;
    img {
        align-content: center;
        width: 70%;
        margin-top: 0%;
        margin-left: 40%;
        margin-bottom: 0%;
        &:hover {
            width: 75%;
        }
    }
    nav {
        width: 40%;
        ul {
            list-style-type: none;
            @include flex (row, space-between, center);
            margin-right: 5%;
            a {
                color: $Gris;
                text-decoration: none;
                &:hover {
                    color: $GrisHover;
                    font-family: $TipografiaNegrita;
                }
            }    
        }
    }
}

    
// Estilo del main    
/*Estilo de Main*/
main {
    height: 100%;
    background-color: $ColorFondo;
    @include flex (column, none, center);
    h1 {
        font-size: 6rem;
        @include flex (row, center, center);
        margin-top: 3%;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }
    h2 {
        font-size: 4rem;
        @include flex (column, center, center);
    }
    h3 {
        font-size: 3rem;
    }
    p {
        font-size: 2.75rem;
    }
    
}

// Estilo del Footer    
/*Estilo de Footer*/
footer{
    margin-top: auto;
    background-color: $ColorFooter;
    p {
        font-size: 2rem;
        text-align: center;
        padding-bottom: 2%;
    }
    .footerContacto {
        width: 30%;
        padding-top: 2%;    
        h4 {    
            font-size: 2.5rem;
            padding-top: 2%;
            padding-left: 2%;
            text-align: center;
        }
    }
    .ulFooter{
        list-style-type: none;
        @include flex (row, center, center);
        margin-top: 5%;
        margin-bottom: 2%;
        width: 100%;
        img {
            width: 25%;
        }
        li {
            width: 25%;
            text-align: center;
            &:hover {
                width: 30%;
            }
        }
    }

}
.imagenFooter {
    @include flex (row, end, center);
}

// Estilo de Boton    
/*Estilo de Boton*/

.boton{
    background-color: $Gris;
    font-family: $TipografiaNegrita;
    font-size: 2rem;
    border: $Gris;
    padding: 1% 2%;
    color: whitesmoke;
    margin: 2%;
    border-radius: 15%;
    box-shadow: #323233;
    &:hover{
        background-color: $GrisHover;
    }
}