//Estilo de Gracias
/*Estilo de Gracias*/

main{
    padding: 0%; 
    h2{
        margin: 5%;
        font-size: 5rem;
    }
    p { 
        padding-right: 5%;
        padding-left: 5%;
        font-size: 3.5rem;
        margin: 1%;
        text-align: center;
    }
    img {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 0%;
    }
}