// Estilo de Producto
/*Estilo de Producto*/

.velas {
    margin: 3%;
    text-align: center;
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 10% 10% 30% 10%;
    justify-content:  center;
    .vidrio {
        &:hover{
            width: 105%;
        }
        img {
            width: 40%;
        }
    }
    .ceramica {
        &:hover{
            width: 105%;
        }
        img {
            width: 38%;
        }
    }
    h2 {
        margin: 3%;
        font-size: 3rem;
    }
    p {
        margin: 4%;
        list-style-type: none;
        font-size: 2.5rem;
        text-align: justify;
        padding: 0%;
    }
    ul {
        @include flex (column, start, start);
        margin: 4%;
        list-style-type: none;
        font-size: 2.5rem;
        text-align: justify;

    }
}

.bombondifusor {
    @extend .velas;
    .bombon {
        @extend .vidrio;
        img {
            width: 40.5%;
        }
    }
    .difusor {
        @extend .vidrio;
        img {
            width: 38%;
        }
    }
}


.botoncontacto{
    background-color: $Gris;
    font-family: $TipografiaNegrita;
    font-size: 2rem;
    border: $Gris;
    padding: 3% 5%;
    color: whitesmoke;
    margin: 2%;
    border-radius: 15%;
    box-shadow: #323233;
    &:hover{
        background-color: $GrisHover;
    }
}